body {
    background-color: gainsboro;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 400px;
    width: 400px;
    background-color: white;
    background-image: url(../../../gigaseba_v2.png);
}

table td {
    padding: 10px;
}

.inside {
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}