body {
    background-color: skyblue;
}

div {
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px gray;
}

#left {
    float: left;
    width: 50%;
    background-color: antiquewhite;
    margin-left: px;
    padding: 10px;
}
#right {
    background-color: #B0BEC5;
    position: absolute;
    left: 51%;
    margin-left: 20px;
    padding: 10px;
}

#gej {
    box-shadow: 0 0 0 0;
    font-weight: bolder;
    position: absolute;
}