body {
    font-family: Arial, Helvetica, sans-serif;
}

#baner, #stopka {
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
    clear: both;
}

#lewy1, #lewy2 {
    background-color: #EFEFEF;
    width: 55%;
    float: left;
}

#lewy1 {
    height: 150px;
}

#lewy2 {
    height: 300px;
}

#prawy {
    background-color: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    float: right;
}

img {
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
}

table, td, th {
    border: 1px #4FB3BF solid;
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 80%;
}

td, th {
    padding: 4px;
}

tr:hover{
    background-color: #4FB3BF;
}